@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arima', cursive !important;
  background: linear-gradient(136deg, rgb(68, 132, 206), rgb(26, 215, 192), rgb(255, 155, 17), rgb(155, 89, 182), rgb(255, 127, 127), rgb(236, 240, 241)) 0% 0% / 1200% 1200%;
  min-height: 100vh;
  background-size: 1000% 1000%;
  animation: BackgroundAnimation 70s ease infinite;
  height: 100%;
}

ul {
  list-style: none;
}

/* ########## header ########## */

.boardHeader {
  display: flex;
  gap: 5%;
  margin-top: 60px;
  justify-content: center;
}

.crown {
  width: 100px;
  margin-top: 10px;
}

.logo {
  font-size: 4em;
}

/* ########## legend ########## */

.legend {
  position: relative;
  height: 35vh;
}

.legend ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

.legend ul img {
  border-radius: 50%;
}

.legend ul:nth-child(1) {
  left: 50%;
  transform: translate(-50%);
}

.legend ul:nth-child(1) img {
  width: 90%;
  max-width: 150px;
}

.legend ul:nth-child(2) {
  top: 30%;
  left: 20%;
}

.legend ul:nth-child(3) {
  top: 35%;
  right: 20%;
}

.legend ul:nth-child(2) img,
.legend ul:nth-child(3) img {
  width: 70%;
  max-width: 150px;
}

/* ########## Scores ########## */

.listScores {
  margin-top: 20px;
}

.scoresHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.refresh {
  padding: 0 10px;
  background: transparent;
  cursor: pointer;
  border-color: #000;
  border-radius: 20px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.8s ease;
}

.refresh:hover {
  background: #000;
  color: #fff;
}

.playerScoreList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  background: rgb(243 199 199 / 15%);
  border-radius: 50px;
  padding: 0 30px;
  margin-right: 20px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
}

.userProfile {
  width: 60px;
  margin-left: -30px;
  border-radius: 50%;
}

/* ########## form ########## */

.addScore .inputForm {
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  outline: none;
}

.inputDiv {
  position: relative;
  margin-bottom: 20px;
}

.form label {
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all 0.3s;
  pointer-events: none;
}

.form input:focus ~ label,
.form input:valid ~ label {
  top: -10px;
  left: 0;
  font-size: 0.9rem;
  color: #c07c32;
}

.submit {
  padding: 5px 10px;
  background: transparent;
  border-radius: 15px;
  border-color: #000;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.8s ease;
}

.submit:hover {
  background: #000;
  color: #fff;
}

/* Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: none;
}

@media (max-width: 768px) {
  .crown {
    width: 40px;
  }

  .logo {
    font-size: 2rem;
  }

  .legend ul:nth-child(2) {
    left: 0;
  }

  .legend ul:nth-child(3) {
    right: 0;
  }

  .formTitle {
    margin-top: 40px;
  }

  .playerScoreList {
    margin-right: 0;
  }

  .submit {
    margin-bottom: 100px;
  }
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }

  50% {
    background-position: 100% 94%;
  }

  100% {
    background-position: 0% 7%;
  }
}
