@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Arima', cursive;
  background-image: url('./img/2217435.webp');
  background-size: auto auto;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h2 {
  color: #fff;
}

.boardHeader {
  display: flex;
  gap: 5%;
  margin-top: 60px;
  justify-content: center;
}

.crown {
  width: 100px;
  margin-top: 10px;
}

.logo {
  text-align: center;
  color: #fff;
  font-size: 4em;
}

.container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 10% 45% 10% 25% 10%;
}

/* ########## Scores ########## */

.scores {
  grid-column-start: 2;
  grid-column-end: 3;
}

.scores button {
  display: inline;
}

.scoresHeader {
  display: flex;
  flex-direction: row;
}

.refresh {
  margin-left: 30px;
  padding: 0 10px;
  background: #fa86c4;
  box-shadow: 2px 2px 2px #e11584;
  cursor: pointer;
  border-color: #ff1694;
}

.listScores {
  border: 2px solid #ff1694;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.listScores div {
  padding: 10px;
}

.listScores ul:nth-child(even) {
  background-color: #e6ebe0;
}

.listScores ul:nth-child(odd) {
  background-color: #f2b8c6;
}

.playerScoreList {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 20%;
  position: relative;
}

.user {
  width: 20px;
  margin-left: 20px;
}

.playerName {
  margin-left: 10%;
}

.playerScore {
  position: absolute;
  right: 50px;
}

/* ########## addScore ########## */

.addScore {
  grid-column-start: 4;
  grid-column-end: 5;
}

.addScore .inputForm {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
}

::placeholder {
  font-family: 'Arima', cursive;
  color: #000;
}

.submit {
  display: block;
  margin-top: 20px;
  padding: 5px 10px;
  margin-left: 70%;
  cursor: pointer;
  background: #fa86c4;
  box-shadow: 2px 2px 2px #e11584;
  border-color: #ff1694;
}

@media (max-width: 768px) {
  .crown {
    width: 40px;
  }

  .logo {
    font-size: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .addScore {
    margin-top: 50px;
  }

  .form {
    width: 50%;
    margin-left: 25%;
  }

  .sectionTitle {
    margin-left: 20px;
  }

  .listScores {
    width: 90%;
    margin: 20px auto;
  }
}
